body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #020617;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 20px rgba(0,255,255,0.2);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #020617;
  color: white;
  border: 1px solid #0ea5e9;
}

button {
  width: 100%;
  padding: 10px;
  background: #0ea5e9;
  border: none;
  color: black;
  cursor: pointer;
}
